{% extends "mainfront/base.html" %}

{% block content %}
<div class="row justify-content-center mt-3">
  <div class="col-lg-6 col-md-8 col-sm-10">
      <div class="card mb-2">
          <div class="card-body" >
              <div class="page">
                  <div class="container py-5">
                      <div class="row">
                          <div class="col">
                              <h2 class="card-title text-center mb-4">Listen carfully and chose the right word:</h2>
                              <div id="wordfortts" style="display: none;"></div>
                              <div class="mt-4 mb-4 d-flex justify-content-center">
                                  <img src="static/img/audio.png" class="img-fluid w-100 rounded" alt="Img" style="max-width: 140px;">
                              </div>
                              <div  class="mt-4 mb-4 d-flex justify-content-center">
                                <button id="playAudioWord" class="btn btn-secondary btn-lg btn-block mr-4 " style="margin: 3px;">🎧</button>
                                <button id="playAudioWordSlow" class="btn btn-secondary btn-lg btn-block ml-4" style="margin: 3px;">🐢</button>
                              </div>
                              <div  class="mt-4 mb-4 d-flex justify-content-center">
                                  <button id="word1fortts" class="btn btn-primary btn-block mr-2" style="margin: 3px;">Loading..</button>
                                  <button id="word2fortts" class="btn btn-primary btn-block mr-2" style="margin: 3px;">Loading..</button>
                                  <button id="word3fortts" class="btn btn-primary btn-block mr-2" style="margin: 3px;">Loading..</button>
                                  <button id="word4fortts" class="btn btn-primary btn-block mr-2" style="margin: 3px;">Loading..</button>
                              </div>
                              <div>
                                  <div id="feedback" class="mt-3 d-flex align-items-center justify-content-center" style="text-align: center;"></div>
                              </div>
                              <div class="mt-3 d-flex justify-content-center">
                                  <button id="nextWord" class="btn btn-secondary" style="display: none;" onclick="nextWord()">Next Word</button>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<script>
function readAloudWord(playbackRate = 1) {
    let audioElement = document.getElementById('dynamicAudio');
    if (!audioElement) {
        audioElement = document.createElement('audio');
        audioElement.id = 'dynamicAudio';
        document.body.appendChild(audioElement);
    }
    var currentTime = new Date().getTime();
    audioElement.src = './static/audio/ttsword.mp3?_=' + currentTime;
    audioElement.load();
    audioElement.playbackRate = playbackRate;
    audioElement.play().catch(error => console.error('Error playing the audio file:', error));
}
document.getElementById('playAudioWord').addEventListener('click', function() { readAloudWord(1); });
document.getElementById('playAudioWordSlow').addEventListener('click', function() { readAloudWord(0.5); });

let incorrectAttempts = 0;
const maxIncorrectAttempts = 2;

function generateWordsForTTS() {
    incorrectAttempts = 0;
    disableWordButtons(true);
    document.getElementById('playAudioWord').disabled = true;
    document.getElementById('playAudioWordSlow').disabled = true;
    fetch('/generate_words_for_tts')
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then(data => {
            if (data.words && data.words.length > 0 && data.correct_word) {
                updateButtons(data.words, data.correct_word);
                document.getElementById('wordfortts').innerText = data.correct_word;
                document.getElementById('nextWord').style.display = 'none';
                fetch('/tts_for_word', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({correct_word: data.correct_word}),
                })
                .then(ttsResponse => {
                    if (!ttsResponse.ok) {
                        throw new Error('TTS Network response was not ok');
                    }
                    return ttsResponse.json();
                })
                .then(ttsData => {
                    document.getElementById('playAudioWord').disabled = false;
                    document.getElementById('playAudioWordSlow').disabled = false;                })
                .catch(ttsError => {
                    console.error('Error occurred during TTS fetch:', ttsError);
                });
            } else {
                console.error('Failed to generate words');
                document.getElementById('feedback').innerText = 'Failed to generate words.';
                document.getElementById('feedback').classList.add('text-danger');
                document.getElementById('feedback').classList.remove('text-success');
            }
        })
        .catch(error => {
            console.error('Error occurred during fetch:', error);
            document.getElementById('feedback').innerText = 'Error fetching words.';
            document.getElementById('feedback').classList.add('text-danger');
            document.getElementById('feedback').classList.remove('text-success');
        });
}
function updateButtons(words, correctWord) {
    const buttonIds = ['word1fortts', 'word2fortts', 'word3fortts', 'word4fortts'];
    words.forEach((word, index) => {
        const button = document.getElementById(buttonIds[index]);
        button.innerText = word;
        button.disabled = false;
        button.onclick = function() { checkAnswer(word, correctWord); };
    });
}
function checkAnswer(selectedWord, correctWord) {
    if (selectedWord === correctWord) {
        document.getElementById('feedback').innerText = 'Correct!';
        document.getElementById('feedback').classList.add('text-success');
        document.getElementById('feedback').classList.remove('text-danger');
        document.getElementById('nextWord').style.display = 'block';
        updatePoints();
        disableWordButtons(true);
    } else {
        handleIncorrectAnswerForWord(correctWord);
    }
}
function handleIncorrectAnswerForWord(correctWord) {
    incorrectAttempts += 1;
    if (incorrectAttempts >= maxIncorrectAttempts) {
        document.getElementById('feedback').innerText = `Incorrect! The correct word was: ${correctWord}.`;
        document.getElementById('feedback').classList.add('text-danger');
        document.getElementById('nextWord').style.display = 'block';
        disableWordButtons(true);
        document.getElementById('wordfortts').innerText = '';
    } else {
        document.getElementById('feedback').innerText = `Incorrect! Try again. Attempts left: ${maxIncorrectAttempts - incorrectAttempts}.`;
        document.getElementById('feedback').classList.add('text-danger');
    }
}

function nextWord() {
    incorrectAttempts = 0;
    document.getElementById('nextWord').style.display = 'none';
    document.getElementById('feedback').innerText = '';
    document.getElementById('feedback').classList.remove('text-success', 'text-danger');
    resetButtonsToLoading();
    generateWordsForTTS();
}
function disableWordButtons(disable) {
    const buttons = document.querySelectorAll('.btn.btn-primary');
    buttons.forEach(button => {
        button.disabled = disable;
    });
}
function resetButtonsToLoading() {
    const buttons = document.querySelectorAll('.btn.btn-primary');
    buttons.forEach(button => {
        button.innerText = 'Loading..';
        button.disabled = true;
    });
}
document.addEventListener('DOMContentLoaded', generateWordsForTTS);
</script> 
{% endblock %}

{% block scripts %}

<script src="{{ url_for('static', filename='js/ourcode.js') }}" defer></script>
{% endblock %}
