{% extends "mainfront/base.html" %}

{% block content %}
<div class="row justify-content-center mt-3">
  <div class="col-lg-6 col-md-8 col-sm-10">
      <div class="card mb-2">
          <div class="card-body" >
              <div class="page">
                  <div class="container py-5">
                      <div class="row">
                          <div class="col">
                              <h2 class="card-title text-center mb-4">Listen carfully and write down what you hear:</h2>
                              <div id="paragraphForTTS" style="display: none;">this is a test paragraph</div>
                              <div class="mt-4 mb-4 d-flex justify-content-center">
                                  <img src="static/img/audio.png" class="img-fluid w-100 rounded" alt="Img" style="max-width: 140px;">
                              </div>
                              <div  class="mt-4 mb-4 d-flex justify-content-center">
                                <button class="btn btn-secondary btn-lg btn-block mr-4 " onclick="readAloud('paragraphForTTS','en-US',1)" style="margin: 3px;">🎧</button>
                                <button class="btn btn-secondary btn-lg btn-block ml-4" onclick="readAloud('paragraphForTTS','en-US',0.5)" style="margin: 3px;">🐢</button>
                              </div>
                              <div  class="mt-4 mb-4 d-flex justify-content-center">
                                <textarea id="userParagraphInput" class="form-control mt-4" rows="5" placeholder="Type the paragraph you hear here..."></textarea>   
                              </div>
                              <div class="mt-4 d-flex justify-content-center">
                                <button id="checkParagraph" class="btn btn-success">Check Paragraph</button>
                              </div>
                              <div>
                                  <div id="feedback" class="mt-3 d-flex align-items-center justify-content-center" style="text-align: center;"></div>
                              </div>
                              <div class="mt-3 d-flex justify-content-center">
                                <button id="nextParagraph" class="btn btn-secondary" style="display: none;" onclick="nextParagraph()">Next Paragraph</button>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<script>
function readAloud(elementId, language = 'en-US', speed = 1) {
    const text = document.getElementById(elementId).innerText;
    if ('speechSynthesis' in window) {
        const utterance = new SpeechSynthesisUtterance(text);
        utterance.lang = language;
        utterance.rate = speed;
        let voices = window.speechSynthesis.getVoices();
        if (voices.length > 0) {
            let voice = voices.find(voice => voice.lang === language);
            if (voice) utterance.voice = voice;
            window.speechSynthesis.cancel();
            window.speechSynthesis.speak(utterance);
        } else {
            window.speechSynthesis.onvoiceschanged = function() {
                voices = window.speechSynthesis.getVoices();
                let voice = voices.find(voice => voice.lang === language);
                if (voice) utterance.voice = voice;
                window.speechSynthesis.cancel();
                window.speechSynthesis.speak(utterance);
            };
        }
    } else {
        alert("Your browser doesn't support text-to-speech. Please use a supported browser.");
    }
}
let incorrectAttempts = 0;
function generateParagraphForTTS() {
    incorrectAttempts = 0;
    document.getElementById('checkParagraph').disabled = true;
    document.getElementById('userParagraphInput').value = '';
    updateFeedback('', '');
    fetch('/generate_paragraph_for_tts')
        .then(response => response.json())
        .then(data => {
            if (data.paragraph) {
                document.getElementById('paragraphForTTS').innerText = data.paragraph;
                document.getElementById('checkParagraph').disabled = false;
                document.getElementById('nextParagraph').style.display = 'none';
            } else {
                console.error('Failed to generate paragraph');
                updateFeedback('Failed to generate paragraph.', 'danger');
            }
        })
        .catch(error => {
            console.error('Error occurred during fetch:', error);
            updateFeedback('Error fetching paragraph.', 'danger');
        });
    document.getElementById('checkParagraph').onclick = checkParagraph;
}

function checkParagraph() {
    const generatedParagraph = document.getElementById('paragraphForTTS').innerText.toLowerCase();
    const userParagraph = document.getElementById('userParagraphInput').value.toLowerCase();
    const normalizedGeneratedWords = generatedParagraph.replace(/[^a-z\s]/g, '').trim().split(/\s+/);
    const normalizedUserWords = userParagraph.replace(/[^a-z\s]/g, '').trim().split(/\s+/);
    const incorrectWords = normalizedUserWords.filter(word => !normalizedGeneratedWords.includes(word));
    const excessWords = normalizedUserWords.length > normalizedGeneratedWords.length;
    const insufficientWords = normalizedUserWords.length < normalizedGeneratedWords.length;
    if (!excessWords && !insufficientWords && incorrectWords.length === 0) {
        updateFeedback('Correct!', 'success');
        document.getElementById('nextParagraph').style.display = 'block';
        document.getElementById('checkParagraph').disabled = true;
        updatePoints();
    } else {
        let feedbackMessage = '';
        if (excessWords) {
            feedbackMessage += `Too many words. Expected ${normalizedGeneratedWords.length} words.`;
        } else if (insufficientWords) {
            feedbackMessage += `Not enough words. Expected ${normalizedGeneratedWords.length} words. `;
        } else if (incorrectAttempts < 2) {
            incorrectAttempts += 1;
            feedbackMessage += `Incorrect words count: ${incorrectWords.length}. Attempts left: ${3 - incorrectAttempts}. `;
        } else {
            const incorrectWordsString = incorrectWords.join(', ');
            feedbackMessage += `Incorrect, wrong words: ${incorrectWordsString}. The correct sentence was: "${document.getElementById('paragraphForTTS').innerText}". `;
            document.getElementById('nextParagraph').style.display = 'block';
            document.getElementById('checkParagraph').disabled = true;
        }
        
        updateFeedback(`${feedbackMessage}Try again.`, 'danger');
    }
}


function nextParagraph() {
    generateParagraphForTTS();
}

function updateFeedback(message, type) {
    const feedbackElement = document.getElementById('feedback');
    feedbackElement.innerText = message;
    feedbackElement.classList.remove('text-success', 'text-danger');
    if (type) {
        feedbackElement.classList.add(`text-${type}`);
    }
}
document.addEventListener('DOMContentLoaded', function() {
    generateParagraphForTTS();
    document.getElementById('userParagraphInput').addEventListener('input', function() {
        const userInput = this.value;
        this.value = userInput.replace(/\d+/g, '');
    });
});
</script> 
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/ourcode.js') }}" defer></script>
{% endblock %}
