<!--  rateb el kelmet   -->
<div class="page">
    <div class="container py-5"> <!-- Outer container -->
        <div class="row">
            <!-- Third div -->
            <div class="col">
                <!-- First 50% for the div with editable content -->
                <div id="editableContent" contenteditable="true" class="form-control" style="width: 80%; height: 100%; margin: auto; border: 1px solid #ced4da; padding: .375rem .75rem;"></div>
                <!-- Second 50% for the buttons -->
                <div id="buttonContainer" style="height: 50%; display: flex; justify-content: center; align-items: center;">
                    <!-- Buttons will be dynamically added here -->
                </div>
                 <!-- Container for the result message -->
                 <div id="resultContainer" style="text-align: center" ></div>

                <!-- Submit button -->
                <div style="text-align: center; margin-top: 20px;">
                    <button id="submitButton" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--  end rateb el kelmet   -->